* {
    margin: 0;
    padding: 0;
}

:root {
    --color-1: #1b3c53e3;
    --color-2: #456882cd;
    --color-3: #D2C1B6;
    --color-4: #F9F3EF;

}

body {
    max-width: 100vw;
    overflow-x: hidden;
    background-position: cover;
}

.bgi {
    height: 100vh;
    width: 100%;
    position: fixed;
    background-image: url(hero-image-2.jpg);
    zoom: 110%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 32%;
    z-index: -1;

}

/* navbar */


.nav-bar {
    height: 10vh;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    padding: 2px;
    align-items: center;
    color: #fff;
    position: sticky;
    top: -10vh;
}

.sideBarOpen {
    padding: 10px;
    margin-left: auto;
    margin-right: 40px;
    display: none;
    transition: all 1s linear;
    opacity: 1;
}

.nav-bar ul {
    margin-left: 20px;
    display: flex;
}

.nav-bar ul li {
    list-style: none;
    padding: 0px 15px;
}

.side-nav-bar {
    position: absolute;
    height: 100vh;
    width: 175px;
    padding-top: 40px;
    background-color: var(--color-1);
    box-shadow: 0px 0px 20px 5px black;
    top: 0;
    left: 100%;
    right: -100%;
    z-index: 99;
    transition: 0.8s cubic-bezier(0, 0, 0.27, 0.97);
}

.sideBarClose {
    padding: 10px;
    color: #ffffff82;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
}

.side-nav-bar ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.side-nav-bar ul li {
    width: 100%;
    color: white;
    list-style: none;
    padding: 15px;
    font-size: 17px;
}
.side-nav-bar ul li:hover {
    background-color: var(--color-2);
}

.behind-sidenav {
    height: 100%;
    width: 0%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2e39446e;;
    z-index: 90;
}


/* hero section*/

.hero {
    height: 90vh;
    width: 40vw;
    padding: 5vw;
    color: white;
    box-sizing: border-box;
    animation: hero-appearance 1.5s ease-out;
}



.hero h1 {
    margin-top: 27px;
    font-size: 40px;
}

.hero p {
    margin-top: 20px;
}

/* content */

.container {
    
}

.options {
    display: flex;
    background-color: var(--color-2);
    margin: 15px 0px;
    padding: 15px;
    border-top: 2px solid var(--color-3);
    border-bottom: 2px solid var(--color-3);
}

.title {
    width: 30%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 35px;
    font-weight: 600;
    color: var(--color-4);
}

.content {
    padding: 15px;
    width: 70%;
    color: black;
    font-size: 17px;
    /* display: none; */
}

.slide-up {
    animation: upward-appearance 2s ease-out;
}

.slide-left {
    animation: leftward-appearance 2s ease-out;
    animation-timeline: view();  
    animation-range: entry 0% cover 30%;

}

.slide-right {
    animation: rightward-appearance ease-out;
    animation-timeline: view();  
    animation-range: entry 0% cover 30%;

}

@keyframes upward-appearance {
    from {
        opacity: 0;
        transform: translateY(20%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes rightward-appearance {
    from {
        opacity: 0;
        transform: translateX(-20%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes leftward-appearance {
    from {
        opacity: 0;
        transform: translateX(20%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

/* footer */

footer {
    height: 60vh;
    background-color: var(--color-1);
    display: flex;justify-content: center;align-items: center;
    color: var(--color-4);
    margin-top: 30px;
    border-top: 1px solid var(--color-3);
}

/* responsiveness */

@media(max-width: 800px) {
    .hero {
        padding-top: 30vh;
        padding-bottom: 0;
        width: 80vw;
    }
    .options {
        align-items: center;
        flex-direction: column;
    }
    .title {
        width: 80vw;
    }
    .content {
        width: 80vw;
    }
    .nav-bar ul {
        display: none;
    }
    .sideBarOpen {
        display: flex;
    }
}